.containerCarrito {
    max-width: 600px;
    margin: 15vh auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tituloCarrito {
    color: #333;
}

.containerCarrito h3 {
    color: #555;
}

.containerCarrito p {
    color: #777;
    margin: 5px 0;
}

.containerCarrito h2 {
    color: #333;
    margin-top: 20px;
}

.containerCarrito button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.containerCarrito button:hover {
    background-color: #0056b3;
}

.containerCarrito a {
    text-decoration: none;
    color: #fff;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
}

.containerCarrito a:hover {
    background-color: #218838;
}